<div class="chat-leftsidebar">
  <div class="tab-content">
  <!-- <div id="profile-detail" class="user-profile-sidebar">
    <div class="px-3 px-lg-4 pt-3 pt-lg-4">
      <div class="user-chat-nav text-right">
        <button type="button" id="user-profile-hide" class="btn nav-btn">
          <i class="fa fa-close fa-fw"></i></button>
      </div>
    </div>-->
    <div  class="px-4 pt-4">
      <div class="mb-4"><img src="assets/img/person.png" alt="" class="rounded-circle avatar-lg img-thumbnail"></div>
      <h5 class="font-size-16 mb-1 text-truncate">{{meContact.displayName}}</h5>
      <p class="text-muted text-truncate mb-1"><i class="ri-record-circle-fill font-size-10 text-success mr-1"></i> {{meContact.displayName}}
      </p>
    </div>
    <perfect-scrollbar class="px-4 pt-4 user-profile-desc">
      <div style="position: static;" class="ps">
        <div class="tab-content">`
          <div class="text-muted">
            <p class="mb-4">This is not your username or pin.It will be the name visible to your contacts. </p>
          </div>
          <div role="tabpanel" class="border card mb-2 shadow-none ng-star-inserted" id="about" aria-labelledby="about-header">
            <div class="card-body">
              <div class="ng-star-inserted">
                <p class="text-muted mb-1">Your Name</p>   
                  <input type="text"  [readonly]="nameisEditable" class="form-control" value="{{meContact.displayName}}" placeholder="Your display name">
                  <button type="button" id="user-profile-hide" (click)="openNameEdit()" *ngIf="nameisEditable" class="btn nav-btn">
                    <i class="fa fa-edit fa-fw"></i>
                  </button>
                  <button type="button" id="user-profile-hide" (click)="closeNameEdit()" *ngIf="!nameisEditable" class="btn nav-btn">
                    <i class="fa fa-save fa-fw"></i>
                  </button>
              </div>
              <!-- email input box -->
              <div class="mt-4 ng-star-inserted">
                  <input type="text"  [readonly]="nameisEditable" class="form-control" value="{{meContact.displayName}}" placeholder="Your email address.">
                  <button type="button" id="use-name-hide" (click)="openEmailEdit()"  *ngIf="emailisEditable" class="btn nav-btn">
                    <i class="fa fa-edit fa-fw"></i>
                  </button>
                    <button type="button" id="user-profile-hide" (click)="closeEmailEdit()" *ngIf="!emailisEditable" class="btn nav-btn">
                      <i class="fa fa-save fa-fw"></i>
                    </button>
              </div>

              <!-- About input text area -->
              <div class="mt-4 ng-star-inserted">
                  <p class="text-muted mb-1">About</p>
                  <textarea autosize [readonly]="nameisEditable" value="{{meContact.status}}"  cols="25" rows="10" ></textarea>
                  <button type="button" id="use-name-hide" (click)="openTextEdit()" *ngIf="textisEditable"  class="btn nav-btn">
                    <i class="fa fa-edit fa-fw"></i>
                  </button>
                  <button type="button" id="user-profile-hide" (click)="closeTextEdit()" *ngIf="!textisEditable" class="btn nav-btn">
                      <i class="fa fa-save fa-fw"></i>
                  </button>          
              </div>
            
            </div>
          </div>

          <!-- <div id="profile-user-accordion" class="custom-accordion">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"
              class="border card mb-2 shadow-none ng-star-inserted">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <h5 class="font-size-14 m-0 ng-star-inserted">
                    <i class="ri-user-2-line mr-2 align-middle d-inline-block"></i>Bio Data
                  </h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div role="tabpanel" class="collapse show ng-star-inserted" id="about" aria-labelledby="about-header">
                    <div class="card-body">
                      <div class="ng-star-inserted">
                        <p class="text-muted mb-1">Name</p>
                        <h5 class="font-size-14">Dorsin Brown</h5>
                      </div>
                      <div class="mt-4 ng-star-inserted">
                        <p class="text-muted mb-1">Email</p>
                        <h5 class="font-size-14">abc@123.com</h5>
                      </div>
                      <div class="mt-4 ng-star-inserted">
                        <p class="text-muted mb-1">Time</p>
                        <h5 class="font-size-14">11:40 AM</h5>
                      </div>
                      <div class="mt-4 ng-star-inserted">
                        <p class="text-muted mb-1">Location</p>
                        <h5 class="font-size-14 mb-0">California, USA</h5>
                      </div>
                      
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <h5 class="font-size-14 m-0 ng-star-inserted"><i
                      class="ri-attachment-line mr-2 align-middle d-inline-block"></i>Attached Files </h5>
                </ng-template>
                <ng-template ngbPanelContent>


                  <div class="card-body">
                    <div  class="card p-2 border mb-2 ng-star-inserted">
                      <div  class="media align-items-center">
                        <div  class="avatar-sm mr-3">
                          <div  class="avatar-title bg-soft-primary text-primary rounded font-size-20">
                            <i  class="ri-file-text-fill"></i></div>
                        </div>
                        <div  class="media-body">
                          <div  class="text-left">
                            <h5  class="font-size-14 mb-1">Admin-A.zip</h5>
                            <p  class="text-muted font-size-13 mb-0">12.5 MB </p>
                          </div>
                        </div>
                        <div  class="ml-4">
                          <ul  class="list-inline mb-0 font-size-18">
                            <li  class="list-inline-item"><a  href="#"
                                class="text-muted px-1"><i  class="ri-download-2-line"></i></a></li>
                            <li  ngbdropdown="" class="list-inline-item dropdown"><a
                                href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" ngbdropdowntoggle="" class="dropdown-toggle text-muted px-1"><i
                                  class="ri-more-fill"></i></a>
                              <div  ngbdropdownmenu="" class="dropdown-menu dropdown-menu-right"
                                x-placement="bottom-left"><a  href="#"
                                  class="dropdown-item">Action</a><a  href="#"
                                  class="dropdown-item">Another action</a>
                                <div  class="dropdown-divider"></div><a  href="#"
                                  class="dropdown-item">Delete</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div  class="card p-2 border mb-2 ng-star-inserted">
                      <div  class="media align-items-center">
                        <div  class="avatar-sm mr-3">
                          <div  class="avatar-title bg-soft-primary text-primary rounded font-size-20">
                            <i  class="ri-image-fill"></i></div>
                        </div>
                        <div  class="media-body">
                          <div  class="text-left">
                            <h5  class="font-size-14 mb-1">Image-1.jpg</h5>
                            <p  class="text-muted font-size-13 mb-0">4.2 MB </p>
                          </div>
                        </div>
                        <div  class="ml-4">
                          <ul  class="list-inline mb-0 font-size-18">
                            <li  class="list-inline-item"><a  href="#"
                                class="text-muted px-1"><i  class="ri-download-2-line"></i></a></li>
                            <li  ngbdropdown="" class="list-inline-item dropdown"><a
                                href="javascript: void(0);" ngbdropdowntoggle="" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="dropdown-toggle text-muted px-1"><i 
                                  class="ri-more-fill"></i></a>
                              <div  ngbdropdownmenu="" class="dropdown-menu dropdown-menu-right"
                                x-placement="bottom-left"><a  href="#"
                                  class="dropdown-item">Action</a><a  href="#"
                                  class="dropdown-item">Another action</a>
                                <div  class="dropdown-divider"></div><a  href="#"
                                  class="dropdown-item">Delete</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div  class="card p-2 border mb-2 ng-star-inserted">
                      <div  class="media align-items-center">
                        <div  class="avatar-sm mr-3">
                          <div  class="avatar-title bg-soft-primary text-primary rounded font-size-20">
                            <i  class="ri-image-fill"></i></div>
                        </div>
                        <div  class="media-body">
                          <div  class="text-left">
                            <h5  class="font-size-14 mb-1">Image-2.jpg</h5>
                            <p  class="text-muted font-size-13 mb-0">3.1 MB </p>
                          </div>
                        </div>
                        <div  class="ml-4">
                          <ul  class="list-inline mb-0 font-size-18">
                            <li  class="list-inline-item"><a  href="#"
                                class="text-muted px-1"><i  class="ri-download-2-line"></i></a></li>
                            <li  ngbdropdown="" class="list-inline-item dropdown"><a
                                href="#" ngbdropdowntoggle="" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" class="dropdown-toggle text-muted px-1"><i
                                  class="ri-more-fill"></i></a>
                              <div  ngbdropdownmenu="" class="dropdown-menu dropdown-menu-right"
                                x-placement="bottom-left"><a  href="#"
                                  class="dropdown-item">Action</a><a  href="#"
                                  class="dropdown-item">Another action</a>
                                <div  class="dropdown-divider"></div><a  href="#"
                                  class="dropdown-item">Delete</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div  class="card p-2 border mb-2 ng-star-inserted">
                      <div  class="media align-items-center">
                        <div  class="avatar-sm mr-3">
                          <div  class="avatar-title bg-soft-primary text-primary rounded font-size-20">
                            <i  class="ri-file-text-fill"></i></div>
                        </div>
                        <div  class="media-body">
                          <div  class="text-left">
                            <h5  class="font-size-14 mb-1">Landing-A.zip</h5>
                            <p  class="text-muted font-size-13 mb-0">6.7 MB </p>
                          </div>
                        </div>
                        <div  class="ml-4">
                          <ul  class="list-inline mb-0 font-size-18">
                            <li  class="list-inline-item"><a  href="#"
                                class="text-muted px-1"><i  class="ri-download-2-line"></i></a></li>
                            <li  ngbdropdown="" class="list-inline-item dropdown"><a
                                href="#" ngbdropdowntoggle="" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" class="dropdown-toggle text-muted px-1"><i
                                  class="ri-more-fill"></i></a>
                              <div  ngbdropdownmenu="" class="dropdown-menu dropdown-menu-right"
                                x-placement="bottom-left"><a  href="#"
                                  class="dropdown-item">Action</a><a  href="#"
                                  class="dropdown-item">Another action</a>
                                <div  class="dropdown-divider"></div><a  href="#"
                                  class="dropdown-item">Delete</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                  </div>



                </ng-template>
              </ngb-panel>

            </ngb-accordion>
          </div> -->
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<!-- </div> -->
