<body>
  <style>
    #header {
      padding: 20px 60px 0 60px
    }

    #header .logo a {
      display: inline-block
    }

  </style>
  <div id="header_wrapper">
    <div id="header">
      <div id="logo"><a href="./"><img
            src=" "
            alt="LunnaChat - The new way to connect" width="47" height="47"></a></div>
    </div>
  </div>
  <div class="common_wrapper">
    <div id="agreement">
      <h1 id="LunnaChat-cookies-policy">LunnaChat Cookies Policy</h1>
      <p>Last updated: April 19, 2017</p>
      <p>For the purposes of this Cookies Policy, “<strong>we</strong>”, “<strong>us</strong>” and
        “<strong>our</strong>” means:</p>
      <ul>
        <li>
          <p>for users located in the African Econonmic Block Zone...;
            and</p>
        </li>
        <li>
          <p>for users located outside of the Kenya: Afrinic Inc Ltd.</p>
        </li>
      </ul>
      <p>If you either:</p>
      <ul>
        <li>
          <p>bind a mobile number that is made available to you in the   Republic of Kenya   or</p> 
          <p>have contracted with Afrnic   ,</p>
        </li>
      </ul>
      <p>you are subject to the <a href="#"><strong>Agrinik Policy</strong></a> and not this Cookie Policy.</p>
      <p>We use cookies, log files, web beacons, scripts and eTags to collect and store the information we automatically
        collect about your device and use of the LunnaChat application (“<strong>LunnaChat</strong>”). You can find out more
        about cookies and how to control them in the information below.</p>
      <p>If you do not accept the use of these cookies, please disable them using the instructions in this cookie
        policy, by following the 'opt-out' links provided below or by changing your device settings.</p>
      <h2 id="1-what-is-a-cookie-">1. What is a cookie?</h2>
      <p>Cookies are text files containing small amounts of information which are downloaded to your device when you log
        in to your LunnaChat account or use certain LunnaChat features. Cookies are then sent back to the originating server
        on each subsequent visit, or to another server that recognises that cookie. Cookies are widely used in order to
        make the LunnaChat work, or to work more efficiently, as well as to provide information to the LunnaChat team.</p>
      <p>Cookies do lots of different jobs, like letting you log in efficiently, remembering certain preferences, and
        generally improving the user experience. Cookies may tell us, for example, whether you have used the LunnaChat
        before or whether you are a new user.</p>
      <p>We only serve cookies directly from us to your device. We do not serve any third party cookies.</p>
      <p>Cookies can remain on your device for different periods of time. Some cookies are 'session cookies', meaning
        that they exist only while your application is open. These are deleted automatically once you close the
        application. Other cookies are 'permanent cookies', meaning that they survive after the application is closed.
        They can be used by LunnaChat to recognise your device when you open and use LunnaChat again.</p>
      <h2 id="2-how-do-we-use-cookies-">2. How do we use cookies?</h2>
      <p>We use cookies to:</p>
      <ul>
        <li>
          <p>retain authentication information in order to provide LunnaChat to you;</p>
        </li>
        <li>
          <p>provide mapping and location-based services (such as “Shake” and “People Nearby”), which require your
            location;</p>
        </li>
        <li>
          <p>retain your language preference;</p>
        </li>
        <li>
          <p>track traffic flow and patterns of travel in connection with LunnaChat;</p>
        </li>
        <li>
          <p>understand the total number of visitors to LunnaChat on an ongoing basis and the types of operating systems
            (e.g. iOS, Android) used;</p>
        </li>
        <li>
          <p>monitor the performance of LunnaChat and to continually improve it; and</p>
        </li>
        <li>
          <p>customise and enhance your LunnaChat experience.</p>
        </li>
      </ul>
      <h2 id="3-what-types-of-cookies-do-we-use-">3. What types of cookies do we use?</h2>
      <p>The types of cookies used by us in connection with LunnaChat can be classified into the following categories:</p>
      <table>
        <thead>
          <tr>
            <th><strong>Type of cookie</strong></th>
            <th><strong>What it does</strong></th>
            <th><strong>How to block</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Cookies necessary for essential services</strong></td>
            <td>These cookies are essential to provide you with the LunnaChat and to use some of its features, such as to
              authenticate log-in, secure LunnaChat and your information, and prevent fraudulent, criminal or other suspect
              activities. Without these cookies, services you have asked for, like transactional pages and secure login
              accounts, would not be possible.</td>
            <td>Please see the instructions set out in <a href="#how-to-control-or-delete-cookies"><strong>'How to
                  control or delete cookies'</strong></a> below.</td>
          </tr>
          <tr>
            <td><strong>Functionality Cookies</strong></td>
            <td>Functionality cookies record information about choices you've made and allow us to tailor LunnaChat for
              you. These cookies mean that when you continue to use or come back to use LunnaChat, we can provide you with
              our services as you have asked for them to be provided. For example, these cookies allow us to:<ul>
                <li>save your language preference;</li>
                <li>remember settings you have applied;</li>
                <li>show you when you are logged in; and</li>
                <li>store accessibility options.</li>
              </ul>
            </td>
            <td>Please see the instructions set out in <a href="#how-to-control-or-delete-cookies"><strong>'How to
                  control or delete cookies'</strong></a> below.</td>
          </tr>
          <tr>
            <td><strong>Performance / Analytics Cookies</strong></td>
            <td>We use performance/analytics cookies to analyze how LunnaChat is accessed, used, or are performing in order
              to provide you with a better user experience and to maintain, operate and continually improve LunnaChat. For
              example, these cookies allow us to:<ul>
                <li>better understand visitors to LunnaChat so that we can improve how we present our content;</li>
                <li>collect information about users of LunnaChat such as where they are located and what devices they are
                  using;</li>
                <li>improve LunnaChat by measuring any errors that occur; and</li>
                <li>conduct research and diagnostics to improve product offerings.</li>
              </ul>
            </td>
            <td>Please see the instructions set out in <a href="#how-to-control-or-delete-cookies"><strong>'How to
                  control or delete cookies'</strong></a> below.</td>
          </tr>
          <tr>
            <td><strong>Advertising and Tracking Cookies</strong></td>
            <td>As you use the LunnaChat Services, you will notice that Official Accounts may make available or advertise
              products or services to you. We do not allow third party companies, including advertising companies, to
              place cookies on the LunnaChat Services, however, if you click the links displayed on Official Account pages,
              you will be taken to webpages operated by the relevant third party. The third party may place cookies on
              your device when you interact with their products, services or webpages.</td>
            <td>All the operators of Official Accounts or other third parties that we work with have their own privacy
              policies and offer a mechanism for users to opt out tracking and behavioral targeting available through
              the opt out mechanisms listed in the <a href="#how-to-control-or-delete-cookies"><strong>'How to control
                  or delete cookies'</strong></a> section below.</td>
          </tr>
        </tbody>
      </table>
      <h2 id="4-how-to-control-or-delete-cookies">4. How to control or delete cookies</h2>
      <p>You have the right to choose whether or not to accept cookies and we have explained how you can exercise this
        right below. However, please note that if you choose to refuse cookies you may not be able to use the full
        functionality of LunnaChat.</p>
      <p>Most devices (in the case of mobile applications) allow you to change your cookie settings. These settings will
        typically be found in the “options” or “preferences” menu of your device. In order to understand these settings,
        the following links may be helpful.</p>
      <ul>
        <li>
          <p>for <a
              href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=en">Android</a>
          </p>
        </li>
        <li>
          <p>for <a href="http://support.apple.com/kb/HT1677">iOS</a></p>
        </li>
      </ul>
      <p>You can opt out of seeing online interest-based ads from LunnaChat Services and other participating companies
        through the Digital Advertising Alliance in the US, the Digital Advertising Alliance of Canada in Canada, or the
        European Interactive Digital Advertising Alliance in Europe or through your device settings.</p>
      <h2 id="5-changes-to-this-cookie-policy">5. Changes to this Cookie Policy</h2>
      <p>We will occasionally update this Cookie Policy to reflect changes in our practices and services. When we post
        changes to this Cookie Policy, we will revise the "Last Updated" date at the top of this Cookie Policy. If we
        make any material changes in the way we collect, use, or share information held in cookies</p>
      <h2 id="6-need-more-information-">6. Need More Information?</h2>
      <p>If you would like to find out more about cookies and their use on the Internet, you may find the following
        links useful:</p>
      <ul>
        <li>
          <p><a href="http://www.allaboutcookies.org/">All About Cookies</a></p>
        </li>
        <li>
          <p><a href="http://www.youronlinechoices.com/uk/">youronlinechoices.co.uk/uk</a></p>
        </li>
      </ul>
      <h2 id="7-cookies-that-have-been-set-in-the-past">7. Cookies that have been set in the past</h2>
      <p>If you have disabled one or more cookies, we may still use information collected from cookies prior to your
        disabled preference being set, however, we will stop using the disabled cookie to collect any further
        information.</p>
      <h2 id="8-contact-us">8. Contact us</h2>
      <p>If you have any questions or comments about this cookies policy, or privacy matters generally, please contact
        us via email at dataprotection@LunnaChat.<a >com or via post at 1st floor of Afrinic Complex, Konza City,Kenya.</a>
      </p>
      <div style="margin-bottom:25px">
        <div><a href="//privacy.truste.com/privacy-seal/validation?rid=ef4cb85d-f630-4712-b0cd-70784518c491"
            target="_blank"><img style="border:none"
              src="//privacy-policy.truste.com/privacy-seal/seal?rid=ef4cb85d-f630-4712-b0cd-70784518c491"
              alt="TRUSTe"></a></div>
      </div><br class="clear">
    </div>
  </div>
  <!--style-->
  <!--script-->
  <div id="page_footer" class="footer group">
    <div class="footer_inner">
      <div class="footer_ele first_footer_ele js_footer_ele l"><a class="link footer_ele js_footer_link"
          href="http://help.LunnaChat.com/">Help Center</a></div>
      <div class="footer_ele js_footer_ele l">
        <div class="second_menu_area js_footer_second_menu">
          <ul class="second_menu js_second_menu">
            <li class="second_menu_ele"><a id="link_getting_started" data-lang="en"
                href="/"
                class="second_menu_link">Getting Started</a></li>
            <li class="second_menu_ele"><a href="http://blog.LunnaChat.com/" class="second_menu_link">What’s New</a></li>
            <li class="second_menu_ele"><a href="https://LunnaChat.design/?locale=en_US"
                class="second_menu_link">Branding</a></li>
            <!--<li class="second_menu_ele">-->
            <!--<a href="/en/features.html#live_chat" class="second_menu_link">Features</a>-->
            <!--</li>-->
            <li class="second_menu_ele"><a href="/en/contact_us.html" class="second_menu_link">Contact Us</a></li>
            <li class="second_menu_ele"><a href="/en/source_code.html" class="second_menu_link">Source Code</a></li>
          </ul><span class="second_menu_hook"></span>
        </div><a class="link footer_ele js_footer_link" href="javascript:;">About<i class="ic_hook"></i></a>
      </div>
      <div class="footer_ele js_footer_ele l">
        <div class="second_menu_area js_footer_second_menu">
          <ul class="second_menu js_second_menu">
            <li class="second_menu_ele"><a href="https://open.lunna.com" class="second_menu_link">Platform</a></li>
            <li class="second_menu_ele"><a href="https://pay.lunna.com/index.php/public/LunnaChatpay/home"
                class="second_menu_link">LunnaChat Pay</a></li>
          </ul><span class="second_menu_hook"></span>
        </div><a class="link footer_ele js_footer_link" href="javascript:;">Platform<i class="ic_hook"></i></a>
      </div>
      <div class="footer_ele js_footer_ele l">
        <div class="second_menu_area menu_lang js_footer_second_menu">
          <ul class="second_menu js_second_menu js_langs">
            <li class="second_menu_ele"><a href="/en/" data-lang="en" class="second_menu_link">English</a></li>
            <li class="second_menu_ele"><a href="/my/" data-lang="my" class="second_menu_link"><img
                  style="display:block;height:22px;border:none" ></a>
            </li>
            <li class="second_menu_ele"><a href="#" data-lang="pt" class="second_menu_link">lang 1</a></li>
            <li class="second_menu_ele"><a href="#" data-lang="pt" class="second_menu_link">lang 2</a></li>
            <li class="second_menu_ele"><a href="#" data-lang="pt" class="second_menu_link">lang 3</a></li>
            <li class="second_menu_ele"><a href="#" data-lang="pt" class="second_menu_link">lang 4</a></li>
          </ul><span class="second_menu_hook"></span>
        </div><a class="link footer_ele last_footer_ele js_footer_link" href="javascript:;" style="">English<i
            class="ic_hook"></i></a>
      </div> 
      <p class="copyright footer_ele r"><span class="footer_ele">Copyright © 2019-<span id="currentYear">{{currentYear }}</span> <a
            href="#">Afrinik Inc</a>. All Rights Reserved.</span></p>
      <p class="footer_ele r"><a href="/en/service_terms.html" class="link footer_ele">Terms of Service</a>| <a
          href="/en/privacy_policy.html" class="link footer_ele">Privacy Policy</a>| <a
          href="/en/acceptable_use_policy.html" class="link footer_ele">Acceptable Use Policy</a></p><span
        class="social_link footer_ele r"><a class="link ic_facebook"
         href="#"></a> <a class="link ic_twitter"
         
          href="https://twitter.com/#!/afrinic"></a></span>
    </div>
  </div> 
</body>
